body{
	font-size: 16px;
	background-color: #008080;
	font-family: "Oxygen", sans-serif;
}

/** Header **/
#header-nav {
	background-color: #00FFFF;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list{
	margin-top: 10px;
}
#navbarSupportedContent a {
  color: #951C49;
  text-align: center;
}
#navbarSupportedContent a:hover {
  background-color: #8FBC8F ;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#navbarSupportedContent{
	text-align: center;
	color: solid black;
}
/*Page content*/
h2{
	padding-top: 15px;
	padding-bottom: 15px;
}
h3{
	font-family: Lora, sans-serif;
}
.menuboxinfo{
	text-align: center;
	border: 2px solid black;
	padding: 0px 15px;
	background-color: #8FBC8F;
}

/****** Large Devices******/
@media(min-width: 993px){
	.hideNav{
		visibility: hidden;
	}
}
/****** Medium Devices ******/
@media(min-width: 992px) and (max-width: 1199px) {
	.hideNav{
		visibility: hidden;
	}
}

/***** Small Devices ******/
@media(min-width:768px) and (max-width:991px){
	.hideNav{
		visibility: hidden;
	}
	.menuboxinfo{
    	margin-bottom: 18px;
    }
}

/***** Extra Small devices ******/
@media(max-width: 767px) {
	#navbarSupportedContent a{
		font-size: 1.2em;
	}
    #navbar-toggle{
    	float:right;
    }
    .menuboxinfo{
    	margin-bottom: 18px;
    }
}